/* WRAPPER */
.fp-container {
  height: 100vh;
  display: flex;
  background: #0f172a;
  font-family: "Inter", sans-serif;
}

/* LEFT */
.fp-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-card {
  background: #ffffff;
  width: 100%;
  max-width: 430px;
  padding: 40px 35px;
  border-radius: 22px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.22);
  display: grid;
  gap: 22px;
}

/* Title */
.fp-title {
  font-size: 26px;
  font-weight: 700;
  color: #0f172a;
  text-align: center;
}

/* INPUT */
.fp-input {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  background: #f1f5f9;
  border: 1px solid #d3dce6;
  border-radius: 12px;
  transition: 0.2s;
}

.fp-input:focus {
  border-color: #3b82f6;
  outline: none;
  background: #fff;
}

/* BUTTON */
.fp-btn {
  width: 100%;
  padding: 16px;
  background: #007bff;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.fp-btn:hover {
  background: #0066d9;
}

/* RIGHT */
.fp-right {
  width: 50%;
  background: linear-gradient(135deg, #102542, #0c1e34);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.fp-banner-title {
  font-size: 48px;
  font-weight: 800;
}

.fp-banner-desc {
  margin-top: 12px;
  font-size: 20px;
  opacity: 0.9;
}
