/* ===== Banner ===== */
.home-banner {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  max-width: 900px;
}

.banner-content h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-content p { margin-bottom: 22px; }

/* === Search box === */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 11px;
  border-radius: 15px;
  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255,255,255,0.3);
}

.search-box select {
  width: 70%;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  background: rgba(255,255,255,0.18);
  color: #fff;
  border: none;
  outline: none;

  /* Move dropdown arrow slightly left */
  padding-right: 30px;
  background-position-x: calc(100% - 18px);
}

.search-box select option { color: #000; }

.search-box button {
  padding: 12px 18px;
  background: #2ecc71;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.search-box button:hover { background: #27ae60; }

/* ===== Feature Section ===== */
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 4%;
  text-align: center;
  gap: 40px;
}
.feature-item img {
    width: 85px;
    margin-bottom: 12px;
    border-radius: 10px;
    /* text-align: center; */
    margin-left: 115px;
}
.feature-item h2 {
  font-size: 27px;
  margin-bottom: 10px;
}

.feature-item p { font-size: 16px; max-width: 330px; }

.divider {
  width: 1px;
  height: 120px;
  background: #999;
}

/* ===== Register Section ===== */
.register-banner {
  background: #f7b500;
  display: flex;
  align-items: center;
  padding: 40px 5%;
  gap: 40px;
}

.player-img {
  height: 260px;
}

.register-content h2 {
  font-size: 26px;
  margin-bottom: 18px;
}

.register-form {
  display: flex;
  gap: 12px;
}

.register-form input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

.register-form button {
  padding: 13px 24px;
  background: #003b80;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}



.home-player {
  object-fit: contain;
  background: transparent;
  height: 350px; /* hoặc tuỳ theo bạn muốn */
}


.feature-icon {
  font-size: 72px;
  margin-bottom: 15px;
  color: #0b3e81; /* hoặc #111 nếu bạn muốn đen */
  margin-left: 140px;
}
