.revenue-container {
  width: 90%;
  margin: 30px auto;
}

.filter-box {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-box select,
.filter-box input {
  padding: 8px;
  font-size: 16px;
}

.filter-box button {
  padding: 8px 14px;
  background: #0b3e81;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.excel-btn {
  background: #28a745 !important;
}

.revenue-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.revenue-table th,
.revenue-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.total-box {
  margin-top: 20px;
  font-size: 20px;
}
